:root {
    color-scheme: light dark;
    --body-light-bg: #f4f4f4;
    --body-dark-bg: #333;
    --p-light-color: #333;
    --dark-color: #f4f4f4;
    --h-light-color: #444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: light-dark(var(--body-light-bg), var(--body-dark-bg));
    color: light-dark(var(--p-light-color), var(--dark-color));
    padding: 20px;
}
main {
    margin: auto;
    background: light-dark(#fff, #444);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    margin-bottom: 15px;
    color: light-dark(var(--h-light-color), var(--dark-color));
}
img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
p {
    margin-bottom: 15px;
}
ul {
    margin-left: 20px;
    margin-bottom: 15px;
    li{
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 2000px) {
    main {
        width: 60dvw;
    }
}