*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
main {
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
p {
    margin-bottom: 15px;
}
ul {
    margin-left: 20px;
    margin-bottom: 15px;
    li{
        margin-bottom: 10px;
    }
}